[submodule "library_docs"]
	path = library_docs
	url = git@github.com:angr/library_docs.git
	branch = master
[submodule "flirt_signatures"]
	path = flirt_signatures
	url = git@github.com:angr/flirt_signatures.git
	branch = master
